

/*General*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-size: normal;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	-moz-transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #7e7e7e;
	border-width: 1px;
	border-style: solid;
	padding: 0 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border linear .3s;
	-webkit-transition: border linear .3s;
	-o-transition: border linear .3s;
	transition: border linear .3s;
}

textarea {
	padding: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	background: rgba(62, 212, 255, 0.5);
	border-color: #177B57 !important;
	outline: none;
	color: #333;
}

#mycarousel {
}

.carousel {
	min-width: 100%;
}

#group1 {
	 height: auto;
	/*position: relative;
    height: 600px;
    width:auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;*/
}

.about-header {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;}

.about-row {
	border-bottom: 1px solid DarkSlateGray
}

.about-text {
	color:black;
	background-color:#ffffff;
	/*green: #177B57*/
}
.about-text h2 {
  position:relative;
  top:30%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.about-text p {
  position:relative;
  top:40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.equal {  
    display: -webkit-flex;
    display: flex;
}
.nopadding {
   padding: 0 !important;
}
.center {
}

}

/* FAQ */
#fun-facts {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
#fun-facts .col-lg-3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
#fun-facts h2 {
  text-transform: uppercase;
  color: #fff;
}
#fun-facts p {
  color: #fff;
}
#fun-facts h4 {
  text-transform: uppercase;
  color: #fff;
}
#fun-facts .number {
  color: #fff;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}
#fun-facts span {
  font-size: 48px;
  color: #fff;
  margin-bottom: 15px;
}
.counter {
    font-size: 50px;
    margin-bottom: 20px;
    display: inline-table;
}

.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*background-attachment: fixed;*/
}
.overlay-dark, .overlay-dark80, .overlay-light, .overlay-light80 {
    position: relative;
    z-index: 1;
}

    .overlay-dark:before, .overlay-dark80:before, .overlay-light:before, .overlay-light80:before {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
    }

    .overlay-dark:before {
        background-color: rgba(32,32,32,0.4);
    }

    .overlay-dark80:before {
        background-color: rgba(32,32,32,0.5);
    }
.light-color h1, .light-color h2, .light-color h3, .light-color h4, .light-color h5, .light-color h6, .light-color p, .light-color, .light-color .container-icon {
    color: #fff;
}
.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.parallax {
    position: relative;
}

/*CAREERS TABLE*/
.gallery-title
{
    font-size: 36px;
    color: #177B57;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 16px;
    border: 1px solid #177B57;
    border-radius: 5px;
    text-align: center;
    color: #177B57;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 16px;
    border: 1px solid #177B57;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #177B57;

}
.btn-default:active .filter-button:active
{
    background-color: #177B57;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* MAILING BUTTON */

#mailingbtn {
	text-align: center;
	width: 140px;
	height: 40px;
}

.btn {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
	width: 120px;
	height: 40px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.cover {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.container {
	position: relative;
	z-index: 3;
}


/*Header*/
/*Top nav left*/
.top-nav {
	;
	color: #333;
	line-height: 40px;
	border-bottom: 1px solid #177B57;
}

/*Top left Menu*/
.top-left {
	float: left;
}

.top-left ul >li {
	display: inline-block;
	margin-right: 15px;
}

.top-left a {
	font-size: 16px;
	color: #333;
}

.top-left a:hover {
	color: #177B57;
}

/*Bottom Right Menu*/
.bot-right {
	float: right;
}

.bot-right ul >li {
	display: inline-block;
	margin-right: 15px;
}

.bot-right a {
	font-size: 16px;
	color: #177B57;
}

.bot-right a:hover {
	color: #fff;
}

/*Top Right Menu*/
.top-right {
	float: right;
}

.top-right p:before {
	content: "\f041";
	font-family: 'FontAwesome';
	font-size: 16px;
	color: #177B57;
	margin-right: 10px;
}

.top-right p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.top-right p > span {
	margin-left: 5px;
	font-style: italic;
	font-weight: 400;
	float:right;
}

/*Nagivation*/
#main-nav {
	padding: 15px 0;
}

/*Affix*/
#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    color: #fff;
    z-index:10;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
    transition: all 0.3s;
}

.navbar {
	margin:0;
}



#main-nav .navbar-header a {
	background-color: transparent;
	color: #fff;
}
/*Toggle Menu*/
#main-nav .navbar-toggle {
	background-color: #177B57;
}

#main-nav .navbar-toggle span {
	background-color: #fff;
}

/*Main Menu*/
#main-nav .navbar-right {
	margin-top: 10px;
}
#main-nav .navbar-right li > a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	color: #555;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}



#main-nav .navbar-right li > a:focus {
	color: #177B57;
    background: none;
    outline: none;
}

#main-nav .navbar-nav>li>a:hover,
#main-nav .navbar-nav>li.active>a {
	color: #177B57;
    background: none;
}

/*Search Form*/
.search-form {
	padding: 10px;
	position: absolute;
	bottom: -76px;
	right: 15px;
	z-index: 3;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s linear;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 1px 2px #ebebeb;
}

.search-form.visible {
	visibility: visible;
	opacity: 1;
}

.search-form input {
	height: 40px;
	width: 275px;
	border-color: #e8e8e8;
}

/*Main Slider*/
#slider {
	margin: 0;
	padding: 0;
	position: relative;
}

.flexslider {
	border: 0;
}

#slider.flexslider .slides > li img {
	
}

/*Slider Caption*/
#slider .caption {
	position: absolute;
	width: 600px;
	top: 10%;
}

#slider .caption h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 48px;
}

#slider .caption span {
	color: white;
}

#slider .caption p {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	margin-top: 30px;
	color: white;
	position:absolute;

	top: 65%;
}

#slider .caption a {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	margin-top: 20px;
	background-color: #177B57;
	color: #fff;
	border: 1px solid #fff;
	position: absolute;
	top: 50%;
}

#slider .caption a:hover {
	background-color: #fff;
    border: 1px solid #177B57;
    transition: 0.3s;
    color: #177B57;
}

#index-image {
	position: relative;
	background-image: url(../images/backgrounds/index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 100px 0;
    color: #fff;
}

.index-header {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	color: white;
	position: absolute;
	top: -100px;
}
.index-subtext {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	top: -25px;
	color: white;
	position:absolute;
	text-transform: none;
}
#index-button {
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#slider .caption {
		position: absolute;
		width: 400px;
		top: 55%;
	}

	#slider .caption h2 {
		font-size: 15px;
	}

	#slider .caption p {
		font-size: 10px;
		font-style: italic;
		margin: 0;
		padding: 0;
		color: #177B57;
	}

	#slider .caption .btn {
		width: 80px;
	    height: 20px;
		font-size: 10px;
		margin-top: 5px;
		padding: 0;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#slider .caption {
		position: absolute;
		width: 450px;
		top: 50%;
	}

	#slider .caption h2 {
		font-size: 24px;
	}

	#slider .caption p {
		font-size: 16px;
		font-style: italic;
		margin-top: 15px;
		color: #177B57;
	}

	#slider .caption .btn {
		width: 110px;
	    height: 30px;
		font-size: 12px;
		margin-top: 15px;

	}
}

/*Control Nav*/
#slider .flex-control-nav {
	position: absolute;
	display: inline;
	z-index: 2;
}

#slider .flex-control-nav li {
	margin: 5px;
	display: inline-block;
}

#slider .flex-control-paging li a {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #177B57;
}

#slider .flex-control-paging li a:hover {
	background: #177B57;
}

#slider .flex-control-paging li a.flex-active {
	background: #177B57;
	width: 12px;
	height: 12px;
}

/*About*/
#about {
}

#about .about-heading {
	text-align: center;
}

#about .about-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#about .about-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 15px;
}

#about .about-left {
	position: relative;
    z-index: 2;
}


#about .about-right {
	position: relative;
	padding: 0 80px 150px 80px;
}

#about .about-right-heading h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding-top: 100px;
	text-transform: uppercase;
}

#about .about-right-boot:before {
	content: "\f080";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #177B57;
}

#about .about-right-wrapper {
    padding-left: 0 0 50px 78px;
    position: relative;
	left: 0;
	top: 75px;
}

#about .about-right-wrapper a {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #282828;
}

#about .about-right-wrapper a:hover {
	color: #177B57;
}

#about .about-right-wrapper p {
	line-height: 28px;
	margin-top: 20px;
	color: #8e8e8e;
}

#about .about-right-best:before {
	content: "\f201";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #177B57;
}

#about .about-right-support:before {
	content: "\f025";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #177B57;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#about {
		padding: 0;
	}

	#about .about-heading h2 {
		margin-top: 30px;
		font-size: 27px;
	}

	#about .about-heading p {
		margin-top: 20px;
		font-size: 12px;
		line-height: 20px;
	}

	#about .about-right:before {
		content: "";
	    border: 8px solid #90b2a6;
		width: 100%;
	    height: 100%;
	}

	#about .about-right {
		position: relative;
		padding: 30px;
		margin-top: 20px;
	}

	#about .about-right-heading h1 {
		padding-top: 20px;
		font-size: 25px;
		text-align: center;
	}

	#about .about-right-boot:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-wrapper {
	    position: relative;
		left: 0;
		top: 35px;
	}

	#about .about-right-wrapper a > h3 {
		font-size: 20px;
	}

	#about .about-right-wrapper p {
		margin-top: 20px;
		font-size: 13px;
	}

	#about .about-right-best {
		margin-top: 40px;
	}

	#about .about-right-best:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-support {
		margin-top: 40px;
	}

	#about .about-right-support:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#about {
		margin-top: 50px;
		padding: 0;
	}

	#about .about-heading h2 {
		margin-top: 30px;
		font-size: 30px;
	}

	#about .about-heading p {
		margin-top: 20px;
		line-height: 20px;
	}

	#about .about-right:before {
		content: "";
	    border: 8px solid #90b2a6;
		width: 100%;
	    height: 100%;
	}

	#about .about-right {
		position: relative;
		padding: 30px;
		margin-top: 20px;
	}

	#about .about-right-heading h1 {
		padding-top: 20px;
		font-size: 25px;
		text-align: center;
	}

	#about .about-right-boot:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-wrapper {
	    position: relative;
		left: 0;
		top: 35px;
	}

	#about .about-right-wrapper a > h3 {
		font-size: 20px;
	}

	#about .about-right-wrapper p {
		margin-top: 20px;
		font-size: 13px;
	}

	#about .about-right-best {
		margin-top: 40px;
	}

	#about .about-right-best:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-support {
		margin-top: 40px;
	}

	#about .about-right-support:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

}

/*About bg*/
#about-bg {
	position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    padding: 100px 0;
    color: #fff;
}

.about-bg-heading {
	font-family: 'Josefin', sans-serif;
	font-weight: 900;
	text-align: center;
	line-height: 40px;
	z-index: -2;
}

.about-bg-heading h1 {
	font-size: 40px
}

.about-bg-heading p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-weight: 400;
	font-size: 16px;
}

.about-bg-wrapper {
	color: #fff;
	text-align: center;
	margin-top: 30px;
	z-index: -2;
}

#about-bg .about-bg-wrapper .count {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 45px;
	margin-right: 20px;
	text-align: center;
	float: left;
	color: #177B57;
}

#about-bg .about-bg-wrapper p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 30px;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	.about-bg-heading h1 {
		font-size: 28px;
	}

	.about-bg-wrapper {
		margin-left: 25%;
	}

}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	.about-bg-heading h1 {
		font-size: 30px;
	}

	.about-bg-wrapper {
		margin-left: 35%;
	}

}

/*Service*/
#service {
	background-attachment: scroll;
    padding-bottom: 0px;
    padding-top: 0px;
}

#service .col-md-6 {
	padding: 0;
	
}

#service .service-heading {
	text-align: center;
}

#service .service-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 55px;
	text-transform: uppercase;
}

#service .service-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

.services-style-one {
	position: relative;
}

.services-style-one .outer-box {
	position: relative;
	background: #1c1c1c;
}

.services-style-one .services-column {
	position: relative;
	width: 50%;
	float: right;
	background: #f2f3f4;	
}

.services-style-one .service-block {
	position: relative;
	margin-bottom: 40px;	
}

.services-style-one .services-column .content-outer {
	position: relative;
	float: right;
	max-width: 700px;
	padding: 80px 20px 40px 40px;	
}

.services-style-one .services-column .icon-box {
	font-size: 36px;
	margin-bottom: 15px;
	line-height: 1px;
	color: #177B57;	
}

.services-style-one .services-column h4 {
	font-size: 14px;
	margin-bottom: 10px;
	color: #1c1c1c;	
}

.services-style-one .services-column .text {
	font-size: 13px;
	color: #5a5a5a;
	max-width: 250px;	
}

.services-style-one .content-column {
	position: relative;
	float: left;
	width: 50%;
	background: #1c1c1c;
	text-align: right;
}

.services-style-one .content-column .content-box {
	position: relative;
	float:left;
	padding: 170px 20px 100px 320px;
	max-width: 700px;	
}

.services-style-one .content-column .sec-title h2 {
	color: #fff;
}

.services-style-one .content-column .sec-title h2 > span {
	border-bottom: 2px solid #177B57;
	padding-bottom: 5px;
}

.services-style-one .content-column .inner-box {
	position: relative;
}

.services-style-one .content-column .text {
	position: relative;
	margin: 30px 0;
	color: #999999;
	line-height: 25px;
}

.inner-box button {
	background-color: #177B57;
	width: 120px;
	height: 35px;
	color: #fff;
}

.inner-box button:hover {
	background-color: #fff;
	color: #177B57;
}

/*Service Footer*/
#service .service-footer {
	background: #222222;
	padding: 30px 0;
}

#service .service-footer-left h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: #fff;
}

#service .service-footer-left h3 > span {
	color: #177B57;
}

#service .service-footer-left p {
	font-size: 16px;
	color: #9d9d9d;
}

#service .service-footer-right {
	float: right;
	line-height: 80px;
}

#service .service-footer-right button {
	background-color: #177B57;
	width: 180px;
	height: 50px;
	color: #fff;
}

#service .service-footer-right button:hover {
	background-color: #fff;
	color: #177B57;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#service {
		margin-top: 50px;
	}

	#service .service-heading h2 {
		font-size: 27px;
	}

	#service .service-heading p {
		font-size: 13px;
	}

	.services-style-one .content-column .content-box {
		padding: 200px 20px 100px 20px;	
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#service {
		margin-top: 50px;
	}

	#service .service-heading h2 {
		font-size: 30px;
	}

	.services-style-one .content-column .content-box {
		padding: 200px 20px 100px 20px;	
	}
}

/*Portfolio*/
#portfolio {
	margin-top: 100px;
}

#portfolio .portfolio-heading {
	text-align: center;
}

#portfolio .portfolio-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#portfolio .portfolio-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

#portfolio .portfolio-thumbnail {
	position: relative;
}

#portfolio .portfolio-thumbnail img {
	width: 100%;
	height:auto;
}

#portfolio .portfolio-thumbnail .col-md-3 {
	padding: 0;
}

#portfolio .portfolio-thumbnail .caption {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(62, 212, 255, 0.7);
	opacity: 0;
	-moz-transition: opacity linear .3s;
	-webkit-transition: opacity linear .3s;
	-o-transition: opacity linear .3s;
	transition: opacity linear .3s;
}

#portfolio .portfolio-thumbnail .item:hover > .caption {
	opacity: 1;
}

#portfolio .caption i {
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #177B57;
	background-color: #fff;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}

#portfolio .caption p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #fff;
	position: absolute;
	font-size: 17px;
	text-transform: capitalize;
	top: 55%;
	left: 30%;
	right: 30%;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#portfolio {
		margin-top: 50px;
	}

	#portfolio .portfolio-heading h2 {
		font-size: 27px;
	}

	#portfolio .portfolio-heading p {
		font-size: 13px;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#portfolio {
		margin-top: 50px;
	}

	#portfolio .portfolio-heading h2 {
		font-size: 30px;
	}

}

/*Contact*/
#contact {
	margin-top: 0px;
}

#contact .contact-heading {
	text-align: center;
}

#contact .contact-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#contact .contact-heading p {
	margin-top: 0px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 0px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/*Get In Touch*/
#get-touch {
	margin-top: 100px;
}

#get-touch .get-touch-heading {
	text-align: center;
}

#get-touch .get-touch-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
}

#get-touch .get-touch-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

#get-touch .content {
	margin-top: 50px;
}

#get-touch .content .form input {
	height: 50px;
	width: 100%;
	border-color: #ebebeb;
}

#get-touch .content .form textarea {
	width: 100%;
	height: 180px;
	border-color: #ebebeb;
	margin-top: 20px;
}

#get-touch .content .form .submit {
	text-align: center;
}

#get-touch .content .form .submit .btn {
	margin-top: 25px;
	background-color: transparent;
	color: #7e7e7e;
	border-color: #177B57;
}

#get-touch .content .form .submit .btn:hover {
	background-color: #177B57;
	color: #fff;
}


/*Map*/
#google-map{
    position:relative;
    margin-top:10px;
    height: 400px;
}

/*Client*/
#client {
	margin-top: 100px;
	text-align: center;
}

#client .col-md-2 {
	height: 100px;
}

#client span {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#client img {
	max-height: 100px;
	vertical-align: middle;
}



/*Team*/

.team-wrapper {
	display: block;
	border: 1px solid #e7e7e7;
}

.team-wrapper:hover .team-member::before {
    background:  rgb(139, 156, 151, 55%);
}

.team-wrapper:hover .team-icon > a {
    opacity: 1;
    visibility: visible;
    margin: 0 5px;
}

.team-member {
    position: relative;
}

.team-member img {
    width: 100%;
}

.team-member::before {
    background: transparent none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    width: 100%;
    z-index: 1;
}

.team-icon {
    bottom: 30px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 99;
}

.team-icon > a {
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 36px;
    margin: 0 15px;
    opacity: 0;
    text-align: center;
	visibility: hidden;
	padding-top: 8px;
    width: 40px;
    border-radius: 50%;
}

.team-icon > a:hover {
    background: #fff;
    color:  #177B57
}
.team-wrapper:hover .team-icon > a {
    opacity: 1;
    visibility: visible;
    margin: 0 5px;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#contact {
		margin-top: 0px;
	}

	#contact .contact-heading h2 {
		font-size: 27px;
	}

	#contact .contact-heading p {
		font-size: 13px;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#contact {
		margin-top: 50px;
	}

	#contact .contact-heading h2 {
		font-size: 30px;
	}

}



/*Footer*/
#footer {
	background-color: #181818;
	padding: 10px 0;
	
}

#footer .footer-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 0 25px;
	color: #fff;
}

#footer .footer-heading h3 {
	font-size: 20px;
	text-transform: capitalize;
}

#footer .footer-heading span {
	border-bottom: 2px solid #177B57;
	padding-bottom: 8px;
}

#footer .footer-heading p {
	font-family: 'Open Sans', sans-serif;
	word-spacing: 3px;
	font-weight: 300;
	margin-top: 30px;
	color: #7e7e7e;
}

#footer .footer-heading ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

#footer .footer-heading li {
	border-bottom: 1px solid #8b8b8b;
	padding: 10px 0;
}

#footer .footer-heading ul > li > a:before {
	content: "\f10c";
	font-family: 'FontAwesome';
	padding-right: 10px;
}

#footer .footer-heading ul > li > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #7e7e7e;
}

#footer .footer-heading ul > li > a:hover {
	color: #177B57;
}

#footer .insta img {
	float: left;
	width: 100px;
	height: 100px;
}

.credits a {
    color: #fff;
}

/*Bottom Footer*/
#bottom-footer {
	background-color: #282828;
	padding: 20px 0;
	color: #8e8e8e;
	bottom: 0;
}

#bottom-footer .footer-right ul > li > a {
	color: #8e8e8e;
}

#bottom-footer .footer-right ul > li > a:hover {
	color: #177B57;
}
#clients {
  text-align: justify;
  font-size: 0.1px; /* IE 9/10 fix */
}
#clients li {
  display: inline-block;
}
#clients:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}
.full-clients {
  text-align: justify;
  font-size: 0.1px; /* IE 9/10 fix */
}
.full-clients li {
  display: inline-block;
}
.full-clients:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}
.img-logo {
    height: 75px;
    max-width: 100%;
}
.bg-gray {
	background-color: DarkSlateGray;
}

.services-number {
	font-size: 45;
	color: #ffffff;
}

#career tr > *:nth-child(5) {
    display: none;
}
#career tr > *:nth-child(6) {
    display: none;
}
#career tr > *:nth-child(7) {
    display: none;
}
.ddlFilterTableRow {
	float:right;
}
#careersTable {
  border: 0;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0;
        border-bottom: 1px solid @table-border-color;
      }
    }
  }
  > thead > tr {
    > th, 
    > td {
      border-bottom-width: 2px;
    }
  }
  > tbody > tr:nth-of-type(odd) {
  background-color: ##f1f8e9;
}
#img-wrap {
        background: black;
        display: inline-block;
        line-height: 0;
    }
        #img-wrap > img {
            opacity: 0;
        }
}
html {

}
html, body {
 min-height: 100%;
 min-width: 100%;
 overflow-x: hidden;
}
.tint {
    z-index: 1;
 height: 100%;
width: 100%;
position: absolute;
top: 0px;
left: 0px;
background: rgba(0, 0, 0, 0.7);    
}
.whitecontent {
 color: white;
}
#recruiting-image {
	position: relative;
	background-image: url(../images/backgrounds/joinus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
    text-transform: uppercase;
    padding: 100px 0;
    color: #fff;
}

#contactus-image {
	position: relative;
	background-image: url(../images/backgrounds/contactus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
    text-transform: uppercase;
    padding: 100px 0;
    color: #fff;
}

.recruiting-bg-heading {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	position: absolute;
	top: -100px;
}

.recruiting-bg-heading h1 {
	font-size: 36px;
}


.white {
    color: white;
}

.btn-lg {
    font-size: 38px;
    line-height: 1.33;
    border-radius: 6px;
}

.box > .icon {
    text-align: center;
    position: relative;
}

.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 7px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #177B57;
    vertical-align: middle;
}


.box > .icon > .image > i {
    font-size: 40px !important;
    color: #fff !important;
}


.box > .icon > .info {
    margin-top: -24px;
    height: 270px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

    .box > .icon > .info > h3.title {
        color: #222;
        font-weight: 500;
    }

    .box > .icon > .info > p {
        color: #666;
        line-height: 1.5em;
        margin: 20px;
    }


.box > .icon > .info > .more a {
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}


.box .space {
    height: 30px;
}

#joining{
	font-color: #177B57;
        font-weight: 500;
}


#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #177B57;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -15px;
  background-color: #177B57;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.3em;
  position: relative;
  top:5px;
  display:block;
}

#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  display:block;
  top:-1px;


}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #177B57;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #177B57;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #177B57;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #177B57;
  font-weight: bold;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #177B57;
  font-weight: bold;
  font-size: 1.3em;
}
.thumbnail {
	margin-bottom:4px;
	max-height: 108px;
	max-width: 250px;
}

#service .service-footer-right button {
	background-color: #177B57;
	width: 180px;
	height: 50px;
	color: #fff;
}

#service .service-footer-right button:hover {
	background-color: #fff;
	color: #177B57;
}

.btn-primary {
  color: #fff;
  background-color: #177B57;
  border-color: white;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #177B57;
  border-color: #177B57;
}
.btn-primary:hover {
  color: black;
  background-color: white;
  border-color: #177B57;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
#careersTable {
	max-width: 86%;
	margin: 10px auto;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	 font-size: 14px;
	 border-color: black;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
  background-color: transparent;
}

.table-inverse.table-bordered {
  border: 0;
}

.filterheader {
	text-align: right;
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 12px;
	text-decoration: underline;
	margin-right: 5.5%;
}

.ddlFilterTableRow{
	margin-right: 5.5%;
}

.table-image {
	max-height: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto
}

#clientTable {
	max-width: 90%;
	margin: 10px auto;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	 font-size: 14px;
	 border-color: white;
}

table.table-bordered{
    border:1.5px solid #177B57;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1.5px solid #177B57;
    border-right-color: 1.5px solid white;
    text-align:center;
}
table.table-bordered > tbody > tr > td{
    border:1.5px solid #177B57;
    text-align:center;
    vertical-align: middle;
}

.timelinetext {
	color: black;
}

.greencell {
  color: #fff;
  background-color: #177B57;
  vertical-align: middle;
  text-align: center;
}
.ltgreencell {
  color: black;
  background-color: #BCDEC2;
}


  .tablesplit {
  	text-align: center;
  	font-size: 30px;
  }

  .careersTable{
  	

    margin-left: auto;
    margin-right: auto;

  }

.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
  #casestudy {
  	max-width: 85%;
  }


  
}